# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

/email-templates/node_modules/
/email-templates/.pnp
/email-templates/.pnp.js
/email-templates/.yarn/install-state.gz

#react email
/lib/workflow-react-email/.react-email/node_modules/

/lib/workflow-react-email/.react-email/.pnp

/lib/workflow-react-email/.react-email/.pnp.js

/lib/workflow-react-email/.react-email/.yarn/install-state.gz

/lib/workflow-react-email/.react-email/.next/

/lib/workflow-react-email/.react-email/.vscode/

#react email


/lib/workflow-email-templates/.react-email/node_modules/

/lib/workflow-email-templates/.react-email/.next

/lib/workflow-email-templates/.react-email/.pnp

/lib/workflow-email-templates/.react-email/.pnp.js

/lib/workflow-email-templates/.react-email/.yarn/install-state.gz

/lib/workflow-email-templates/.react-email/.next

/lib/workflow-email-templates/.react-email/.vscode

#react email

/lib/workflow-email-templates/node_modules

/lib/workflow-email-templates/.pnp

/lib/workflow-email-templates/.pnp.js

/lib/workflow-email-templates/..yarn/install-state.gz

/lib/workflow-email-templates/.next/

/lib/workflow-email-templates/.vscode/



# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
